<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        {{ i18n "home" }} | {{ .Site.Params.author.name }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    {{ if .Site.Params.author.avatarFirst }}
                    {{ partial "avatar.html" . }}
                    {{ end }}
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.title }} <span class="plant">🪴</span>
                        </h1>
                    </div>
                    {{ if not .Site.Params.author.avatarFirst }}
                    {{ partial "avatar.html" . }}
                    {{ end }}
                    {{ if isset .Site.Params "social" }}
                    {{ partial "social.html" . }}
                    {{ end }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

    <script>
        var plant = document.querySelector('.plant');
        if (plant) {
            function startSway() {
                plant.classList.remove('sway');
                void plant.offsetWidth;
                plant.classList.add('sway');
            }
            plant.addEventListener('mouseenter', startSway);
            plant.addEventListener('click', startSway);
        }
    </script>
</body>

</html>