@use "utils/variables" as v;

body {
  font-family: v.$fontParagraph;
  color: v.$white;
  background-color: v.$backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  @include v.primary-color;
}

pre code {
  font-family: v.$fontCode;
  font-size: 100%;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: v.$fontCode;
  font-size: 100%;
  word-break: break-all;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: v.$fontHeader;
    scroll-margin-top: 1rem;

    &.heading-anchor-wrapper {
      .heading-anchor {
        opacity: 0;
        margin-right: 0.4em;
        // font-size: 1em;
        text-decoration: none;
        transition: opacity 0.15s;
        @include v.primary-color;
      }

      &:hover .heading-anchor {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
}

blockquote {
  border-left: 3px solid;
  @include v.primary-color;
  margin: 1.5rem 0;
  padding: 0.5rem 1.2rem;
  color: #b0b0bf;
  font-style: italic;

  p {
    margin: 0;
  }
}

img {
  display: block;
  margin: 0 auto;
}

figure {
  text-align: center;
  margin: 1.5rem auto;
}

figcaption {
  font-size: 0.8em;
  color: #999;
  margin-top: 0.4rem;
}

@media screen and (max-width: 768px) {
  .headerLinks {
    z-index: 100;
  }
}

@-ms-viewport{
  width: device-width;
}
