@use "utils/variables" as v;

body {
  font-family: v.$fontParagraph;
  color: v.$white;
  background-color: v.$backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  @include v.primary-color;
}

pre code {
  font-family: v.$fontCode;
  font-size: 100%;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: v.$fontCode;
  font-size: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: v.$fontHeader;
  }
}

img {
  display: block;
  margin: 0 auto;
}

figure {
  text-align: center;
  margin: 1.5rem auto;
}

figcaption {
  font-size: 0.8em;
  color: #999;
  margin-top: 0.4rem;
}

@-ms-viewport{
  width: device-width;
}
